<section class="section">
  <nz-list
    class="demo-loadmore-list"
    [nzDataSource]="list$ | async"
    [nzItemLayout]="'horizontal'"
    [nzLoading]="initLoading"
    [nzRenderItem]="item"
    [nzLoadMore]="loadMore"
  >
    <ng-template #item let-item>
      <nz-list-item [nzActions]="item.loading ? [] : [editAction, moreAction]">
        <nz-skeleton [nzActive]="true" [nzTitle]="false" [nzAvatar]="false" [nzLoading]="item.loading">
          <ng-template #editAction>
            <a (click)="edit(item)">edit</a>
          </ng-template>
          <ng-template #moreAction>
            <a (click)="edit(item)">delete</a>
          </ng-template>
          <nz-list-item-meta [nzTitle]="titleTemplate" [nzDescription]="descTemplate">
            <ng-template #titleTemplate>
              <a href="https://ng.ant.design">{{ item.title }}</a>
            </ng-template>
            <ng-template #descTemplate>
              Ant Design, a design language for background applications, is refined by Ant UED Team Ant
              Design, a design language for background applications, is refined by Ant UED Team
            </ng-template>
          </nz-list-item-meta>
        </nz-skeleton>
      </nz-list-item>
    </ng-template>
    <ng-template #loadMore>
      <div class="loadmore" *ngIf="!reachedEnd && numRowsDisplayed">
        <button nz-button *ngIf="!loadingMore && !initLoading" (click)="onLoadMore()">
          loading more
        </button>
      </div>
    </ng-template>
  </nz-list>
</section>
